<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <span class="place-card-text1">
        <span>
          The road to our destiny is long.... We all start some where.... But
          this is where MARTIAL starts
        </span>
      </span>
    </div>
  </div>
</div>
